# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

language: objective-c
osx_image: xcode8

env:
  global:
  - WORKSPACE=RxSwiftExt.xcworkspace
  - SDK=iphonesimulator10.0
  - DESTINATION_PLATFORM='platform=iOS Simulator,name=iPhone 6s,OS=10.0'

before_install:
  - brew update
  - brew outdated carthage || brew upgrade carthage
before_script:
  - carthage bootstrap --platform iOS
script:
  - set -o pipefail && xcodebuild -workspace "$WORKSPACE" -scheme 'RxSwiftExt' ONLY_ACTIVE_ARCH=YES -destination "$DESTINATION_PLATFORM" -configuration 'Debug' -sdk "$SDK" build | xcpretty -c
  - set -o pipefail && xcodebuild -workspace "$WORKSPACE" -scheme 'RxSwiftExtTests' ONLY_ACTIVE_ARCH=YES -destination "$DESTINATION_PLATFORM" -configuration 'Debug' -sdk "$SDK" test  | xcpretty -c
